In [1]:
import subprocess
import json


data=[]
for i in range(4):
    # Define the curl command as a list of arguments
    curl_command = [
        'curl',
        '-X', 'GET',
        'https://api.coingecko.com/api/v3/coins/markets?vs_currency=USD&order=market_cap_desc&per_page=250&page='+str(i)+'&sparkline=false&price_change_percentage=1h%2C24h%2C7d%2C30d%2C1y&locale=en'
    ]
    try:
        # Execute the curl command
        result = subprocess.run(curl_command, capture_output=True, text=True, check=True)

        # Parse JSON response
        data = data + json.loads(result.stdout)
    except subprocess.CalledProcessError as e:
        print("Error executing curl command:", e)

TypeError: can only concatenate list (not "dict") to list

In [4]:
import json

# Assuming data.json is in the same directory as your Python script
file_path = "data.json"

# Open the file in read mode
with open(file_path, "r") as file:
    # Load the JSON data
    data = json.load(file)

In [6]:
symbol_list = [d['symbol'] for d in data]

In [44]:
import pandas as pd
data = pd.read_csv('/home/chauvet/Téléchargements/mydata.criptofolio',sep=';')

In [45]:
data

,Date,Type,Pair1,Pair2,Price,Quantities,Change_Dollar,Balance_Dollar
0,2022-11-21 13:05:30,BUY,CHZ,EUR,0.192700,86.0000,1.0239,16.968276
1,2022-11-21 13:05:30,BUY,CHZ,EUR,0.192500,914.0000,1.0239,180.150085
2,2022-11-20 17:24:50,BUY,MANA,USDT,0.404800,57.0000,1.0000,23.073600
3,2022-11-20 17:24:50,BUY,MANA,USDT,0.404700,410.0000,1.0000,165.927000
4,2022-11-19 05:12:31,SELL,CHZ,USDT,0.260700,-245.0000,1.0000,-63.871500
...,...,...,...,...,...,...,...,...
318,2024-02-26 15:51:00,Sell,ETH,USDT,3120.000000,-1.0284,1.0000,-3208.608000
319,2024-02-28 10:07:00,Sell,BNB,USDT,412.500000,-1.0250,1.0000,-422.812500
320,2024-03-02 16:29:00,Sell,ADA,USDT,0.734200,-938.0000,1.0000,-688.679600
321,2024-03-04 08:30:00,Sell,JASMY,USDT,0.026000,-4150.0000,1.0000,-107.900000
322,2024-03-04 08:37:00,Sell,SHIB,USDT,0.000027,-452500.0000,1.0000,-12.303475

In [46]:
all_dd=[]
for i in range(len(data)):
    if data.loc[i].Pair2=='EUR':
        dd=data.loc[0].copy()
        dd['Pair1']='USDT'
        dd['Price']=dd['Change_Dollar']
        dd['Quantities']=dd['Balance_Dollar']
        data.loc[i,'Pair2']='USDT'
        data.loc[i,'Price']=data.loc[i,'Price']*data.loc[i,'Change_Dollar']
        all_dd.append(dd)

In [49]:
for dd in all_dd:
    ne=pd.DataFrame(dd.to_dict)
    data=pd.concat([data,dd])

In [50]:
data

,Date,Type,Pair1,Pair2,Price,Quantities,Change_Dollar,Balance_Dollar,0
0,2022-11-21 13:05:30,BUY,CHZ,USDT,0.197306,86.0,1.0239,16.968276,NaN
1,2022-11-21 13:05:30,BUY,CHZ,USDT,0.197101,914.0,1.0239,180.150085,NaN
2,2022-11-20 17:24:50,BUY,MANA,USDT,0.404800,57.0,1.0000,23.073600,NaN
3,2022-11-20 17:24:50,BUY,MANA,USDT,0.404700,410.0,1.0000,165.927000,NaN
4,2022-11-19 05:12:31,SELL,CHZ,USDT,0.260700,-245.0,1.0000,-63.871500,NaN
...,...,...,...,...,...,...,...,...,...
Pair2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,USDT
Price,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0239
Quantities,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,16.968276
Change_Dollar,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0239
Balance_Dollar,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,16.968276

In [52]:
dd.to_dict

<bound method Series.to_dict of Date              2022-11-21 13:05:30
Type                              BUY
Pair1                            USDT
Pair2                            USDT
Price                          1.0239
Quantities                  16.968276
Change_Dollar                  1.0239
Balance_Dollar              16.968276
Name: 0, dtype: object>